.idea/
.github/
.gradle/
.vscode/
.DS_Store/
.hypothesis/

venv/
target/
logs/
output/
Fuzz/
Compile/
restler_bin/
out/
kittylogs/
services/jdk8/erc20-rest-service/bin/
RestlerLogs/
restler/
rest-gitlab/
**/testing_output/

src/config.py
test.json
cp.txt
*.log
log_*
evomaster-benchmark-cs-rest-artificial-news.iml
evomaster.jar
workloadResultsFile.xlsx
faultloadResultsFile.xlsx
org.jacoco.*
jacoco_*
*LOG_PATH*
test.py
.DS_Store